/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/

#cboxOverlay{background:#000;}
#colorbox{}

.fmc #cboxTopLeft{width:auto; height:auto; background:transparent none;}
.fmc #cboxTopCenter{height:auto; background:transparent none;}
.fmc #cboxTopRight{width:auto; height:auto; background:transparent none;}

.fmc #cboxBottomLeft{background:url(/images/flashmapbarleft.gif) 0px 0px no-repeat;height:13px;width:12px;}
.fmc #cboxBottomCenter{background:url(/images/flashmapbar.gif) 0px 0px no-repeat;height:13px;}
.fmc #cboxBottomRight{background:url(/images/flashmapbarright.gif) 0px 0px no-repeat;height:13px;width:12px;}

.fmc #cboxMiddleLeft{width:12px;background-color:White;}
.fmc #cboxMiddleRight{width:12px;background-color:White;}
.fmc #cboxContent{background:#fff;}
    
.fmc #cboxClose {position:absolute; bottom:-29px; background:url(/images/flashmapclose.png) 0px 0px no-repeat; width:68px; height:25px; text-indent:-9999px;}
.fmc #cboxLoadedContent{margin-bottom:5px;}
.fmc #cboxLoadingOverlay{background:url(/images/loading_background.png) center center no-repeat;}
.fmc #cboxLoadingGraphic{background:url(/images/loading.gif) center center no-repeat;}
.fmc #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
.fmc #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}
.fmc #cboxClose{right:10px;top:27px;background-position:0px 0px;}
.fmc #cboxClose.hover{background-position:0px -25px;}
   
     